
.title{
    font-family: 'Inconsolata', monospace;
    color: #333;
    font-size: 25px;
    margin-top: 40px;
    margin-left: 75px;
}
main{
    display: flex;
    height: 700px ;
    justify-content: space-evenly;
    align-items: center;
    font-family: monospace;
}
img{
    height: 400px;
    width: 400px;
}
.right-side-title{
    color:#333;
    font-size: 70px;
    margin-bottom: 40px;
}
.discription{
    color:  #4f4f4f;
    font-size: 25px;
    margin-bottom: 70px;
}
.btn-primary{
    color: white;
    background-color: #333;
    font-size: 15px;
    height: 50px;
    width: 200px;
}
footer{
    color: #bdbdbd;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 12px;
    margin-top: 48px;
}

@media screen and (max-width:576px) {
    .title{
        margin-top: 20px;
        margin-left: 25px;
        margin-bottom: 120px;
    }
    main{
        flex-direction: column;
        margin: 10px;
    }
    img{
        height: 300px;
        width: 300px;
    }
    .right-side-title{
        font-size: 50px;
    }
    .discription{
        font-size: 20px;
        margin-bottom: 70px;
    }
    footer{
        margin-top: 140px
    };
}